.footer{
bottom:0;
text-align:center;
width:100%;
position:fixed;
background-color: blue;
color: green;
font-size:15px;
}
.heading{
font-size: 30px;
width:100%;
margin: 0px;
box-shadow: 15px 15px 20px black;
}
canvas{
border:5px solid red ;
}